@import url('https://fonts.googleapis.com/css2?family=Livvic&family=Open+Sans&family=Roboto:ital,wght@0,400;1,300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    padding-left: 0;
    padding-right: 0;
}
.top-header{
    background-color: #2F333A;
    height: 30px;
}
.container-fluid{
    padding: 0;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
/* top header icon */
.header-icon{
    margin: 3px;
}
.icon{
    margin-right: 10px;
   
}
.icon i{
    color: #C4C4C4; 
}
.icon a{
    font-size: 12px;
}
.icon-nav{
    margin: 0;
    padding: 0 0 0 10px;
    width: 50px;
}
/* .nav-item .nav-link.active.con{
    color: #c89551;
} */
/* .nav-item .nav-link.active.pro{
    color: #c89551 !important;
} */
/* top header contact */
.contact{
    margin-left: 15px;
    /* border-left: 2px solid #C4C4C4; */
}
.contact a{
    color: #C4C4C4;  
    font-size: 12px;
    font-weight: 500;
}
.contact a:hover{
    color: #c89551;
}
.header-icon .icon a i:hover{
    color: #c89551 !important;
}
.icon-nav li a i:hover{
    color: #c89551;
}
.nav-item .nav-link:hover{
    color: #c89551 !important;
}
.footer a:hover{
    color: #c89551;
}
.col4-item i:hover{
    color: #c89551;
}
.icon-buy{
    position: relative;
    /* border: 1px solid black; */
}
.number-buy{
    position: absolute;
    right: -15px;
    top: -18px;
    font-size: 11px;
    font-weight: bold;
    padding: 3px 8px;
    background-color: #4e4e4e;
    border-radius: 50%;
    color: white;
}
.buy-success{
    background-color: #c89551;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 100;
    opacity: 0.9;
}
.buy-success p{
    margin: 0;
    padding: 4px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;   
}
.hide{
    display: none !important;
}
/* .address i:hover{
    color: #c89551;
} */
.header-contact{
    margin: 2px;
}
.main-menu{
    padding: 15px;
    background-color: white;
}
.main-menu .row{
    display: flex;
    flex-wrap: nowrap;
}
.logo{
    width: 15%;
    object-fit: cover;
}
/* .navbar{
    width: 70%;
} */
.nav-item{
    font-size: 15px;
    font-weight: bold;
    color: #C4C4C4 !important;
}
/* .icon-nav{
    margin-top: 10px;
} */
.icon-nav li a{
    color: black;
    padding-left: 13px;
}
.nav-item{
    padding: 0 25px;
}
.nav-link.active.newss{
    color: #c89551 !important;
}
.header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    overflow: visible;
    transition: .3s;
    background-color: #fff;
    box-shadow: 0 23px 38px 0 rgb(0 0 0 / 10%);
    z-index: 99;
}
.banner {
    background-image:  
        url(../img/news/sofa.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background: rgba(0, 0, 0, 0.7); */
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    position: relative;
}
.inner{
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}
.title-heading{
    padding-top: 120px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-bottom: 0;
}
.nopadding{
    margin: 0;
    padding: 0;
}
.intro{
    font-size: 16px;
    color: white;
    padding-bottom: 120px;
    font-weight: 500;
}
.intro a{
    color: white;
}
.intro a:hover{
    color: #c89551;
}
/* content */
.news-heading{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    color: #4f555a;
    margin-bottom: 15px;
}
.news-heading:hover{
    color: #c89551;
}
.others-news img{
    height: 222px;
}
.others-name:hover{
    color: #c89551;
}
.news1,.news2,.news3{
    margin: 30px 0;
}
.news-intro{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(70, 70, 70);
    font-size: 16px;
}
.author-news{
    color: rgb(70, 70, 70);
    font-family: 'Times New Roman', Times, serif;
}
.author-news{
    font-size: 13px;
}
.name{
    font-weight: 600;
    padding-left: 10px;
}
.author-news i{
    margin-right: 10px;
}
.btn{
    padding: 10px 30px;
    background-color: #c89551;
    color: white;
    border-radius: 40px;
}
.news{
    margin: 50px 0;
}
.new,.other-title{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 50px;
    
}
.others-name{
    font-size: 15px;
    color: rgb(70, 70, 70);
    font-weight: 600;
}
.time{
    color: rgb(70, 70, 70);
}
.time i{
    margin-right: 5px;
}
.footer{
    background-image: url(../img/logo-footer.png);
    
}
.footer-inner{
    background: rgba(0, 0, 0, 0.7);
    /* opacity: 0.5; */
   
}
.footer-img{
    padding: 20px 0;
    width: 50%;
}
.address{
    font-size: 13px;
    color: white;
    padding: 10px;
}
.phone-footer{
    color: white;
    padding: 10px;
    font-size: 13px;
}
.supports{
    color: white;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 8px;
    font-size: 13px;
}
.address i,.phone-footer i,.supports i{
    color: white;
    padding-right: 5px;
}
.title-col2{
    padding: 20px 0;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.cot2 p a{
    color: white;
    font-size: 13px;
}
.title-col3{
    padding: 20px 0;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.cot3 p a{
    color: white;
    font-size: 13px;
}
.title-col4{
    padding: 20px 0;
    color: white;
    font-weight: bold;
    font-size: 17px;
}
.col4-item i{
    color: white;
    padding: 10px;
    font-size: 15px;
}
.col4-input button{
   background-color: #c89551 !important;
   border: none;
   height: 40px;
}
.col4-input button a i{
    padding: 10px;
    color: white;
    border: none;
    height: 40px;
}
.col4-input input{
    height: 40px;
    padding: 10px;
    border: none;
}
.col4-input input:focus{
    outline: 0px;
}
.col4-input input::placeholder{
    font-size: 14px;
    opacity: 0.5;
}
.buy-number{
    color: white;
    margin-bottom: 30px;
    background-color: #c89551;
    border-radius: 50%;
    padding: 5px;
}
.hd-shop{
    width: 25px;
    /* border: 1px solid #c89551; */
    border-radius: 50%;
}
.footer-madeby{
    padding: 10px 20px;
    padding-bottom: 1px;
    background: #000000;
    
}
.footer-madeby p{
    color: #c9b295 !important;
    font-weight: bold;
}
.footer p{
    font-size: 15px;
    font-weight: 500;
}
/* responsive */
.search input{
    width: 85%;
    border: none;
    padding: 10px 20px;
}
.search input:focus{
    border: none;
}
/* hr{
    margin: 0 0 10px 0;
} */
.res-left,.res-right{
    font-size: 15px;
    font-weight: 500;
}
.res-left i{
    margin: 0 10px 20px 30px;
}
.res-right i{
    margin: 0 10px 20px 0;
}
.responsive-navbar{
    position: fixed;
    background-color: white;
    z-index: 100;
    width: 100%;    
}
/* .navbar-toggler{
    border: none;
} */
/* modal */
.modal-login .nav-item{
    width: 50%;
    padding: 0;
}
.modal-login .nav-link{
    width: 100%;
    color: gray;
    font-weight: 600;
}
.modal-login .nav-link.active{
    color: #c89551 !important;
    width: 100% !important;
    background-color: #c89551;
    color: white !important;
}
.modal-inner{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.user-name,.pass{
    width: 100%;
    padding: 5px;
}
.user-name{
    margin: 30px 0;
    height: 50px;
}
.pass{
    margin-bottom: 30px;
    height: 50px;
}
.login{
    width: 100%;
}
input[checkbox]{
    width: 10%;
}
.modal img{
    width: 30px;
}
.login{
    border: none;
    background-color: #c89551;
    color: white;
    font-weight: 600;
    height: 50px;
    margin-bottom: 10px;
}
.forget a{
    color: gray !important;
    text-decoration: none;
}
.save{
    color: gray !important;
}
.save input{
    margin-right: 5px;
}
.oline a{
    padding: 0 7px;
}
.oline{
    margin-bottom: 50px;
}
.again{
    height: 50px;
    width: 100%;
    margin-bottom: 30px;
    padding: 5px;
}
.register-button{
    border: none;
    background-color: #c89551;
    color: white;
    font-weight: 600;
    height: 50px;
    margin-bottom: 50px; 
    width: 100%;
}
.modal-content{
    top: 50px;
}
.an{
    display: none;
}
/* validate */
.wrong-user,.wrong-pass,.wrong-again{
    color: red;
    font-size: 15px;
    font-weight: 500;
}
.is-invalid{
    display: none;
}
 @media (max-width: 430px){
    .number-buy{
        right: -45px;
    }
 }
 @media (max-width: 992px){
    .res-home a{
        color: black !important;
    }
    .res-news a{
        color: #c89551 !important;
    }
    .time{
        margin-bottom: 30px;
    }
 }