
@import url('https://fonts.googleapis.com/css2?family=Livvic&family=Open+Sans&family=Roboto:ital,wght@0,400;1,300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    padding-left: 0;
    padding-right: 0;
}
.top-header{
    background-color: #2F333A;
    height: 30px;
}
.container-fluid{
    padding: 0;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
/* top header icon */
.header-icon{
    margin: 3px;
}
.icon{
    margin-right: 10px;
   
}
.icon i{
    color: #C4C4C4; 
}
.icon a{
    font-size: 12px;
}
.icon-nav{
    margin: 0;
    padding: 0 0 0 10px;
    width: 50px;
}
/* .nav-item .nav-link.active.pro{
    color: #c89551 !important;
} */
/* top header contact */
.contact{
    margin-left: 15px;
    /* border-left: 2px solid #C4C4C4; */
}
.contact a{
    color: #C4C4C4;  
    font-size: 12px;
    font-weight: 500;
}
.contact a:hover{
    color: #c89551;
}
.header-icon .icon a i:hover{
    color: #c89551 !important;
}
.icon-nav li a i:hover{
    color: #c89551;
}
.nav-item .nav-link:hover{
    color: #c89551 !important;
}
.footer a:hover{
    color: #c89551;
}
.col4-item i:hover{
    color: #c89551;
}
.icon-buy{
    position: relative;
    /* border: 1px solid black; */
}
.number-buy{
    position: absolute;
    right: -15px;
    top: -18px;
    font-size: 11px;
    font-weight: bold;
    padding: 3px 8px;
    background-color: #4e4e4e;
    border-radius: 50%;
    color: white;
}
.buy-success{
    background-color: #c89551;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 100;
    opacity: 0.9;
}
.buy-success p{
    margin: 0;
    padding: 4px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;   
}
.hide{
    display: none !important;
}
/* .address i:hover{
    color: #c89551;
} */
.header-contact{
    margin: 2px;
}
.main-menu{
    padding: 15px;
    background-color: white;
}
.main-menu .row{
    display: flex;
    flex-wrap: nowrap;
}
.logo{
    width: 15%;
    object-fit: cover;
}
/* .navbar{
    width: 70%;
} */
.nav-item{
    font-size: 15px;
    font-weight: bold;
    color: #C4C4C4 !important;
}
/* .icon-nav{
    margin-top: 10px;
} */
.icon-nav li a{
    color: black;
    padding-left: 13px;
}
.nav-item{
    padding: 0 25px;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: visible;
    transition: .3s;
    background-color: #fff;
    box-shadow: 0 23px 38px 0 rgb(0 0 0 / 10%);
    z-index: 99;
}
/* /////////////////////////////////////// */
/* Header */
.banner {
    background-image:  
        url(../img/news/sofa.webp);
    background-repeat: no-repeat;
    background-size: 1350px 100%;
    /* background: rgba(0, 0, 0, 0.7); */
    object-fit: cover;
}
.inner{
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}
.title-hea.banner {
    background-image:  
        url(../img/banner2.jpg);
    background-repeat: no-repeat;
    background-size: 1350px 100%;
    /* background: rgba(0, 0, 0, 0.7); */
    object-fit: cover;
}
.contact a:hover{
    color: #c89551;
}
.header-icon .icon a i:hover{
    color: #c89551 !important;
}
.icon-nav li a i:hover{
    color: #c89551;
}
.nav-item .nav-link:hover{
    color: #c89551 !important;
}
.footer a:hover{
    color: #c89551;
}
.col4-item i:hover{
    color: #c89551;
}
.inner{
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}
.title-heading{
    padding-top: 200px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.intro{
    font-size: 16px;
    color: white;
    padding-bottom: 120px;
}
.products{
    margin-top: 50px;
}
.product-img{
    background-color: whitesmoke;
    height: 200px;
}
.price-product .price{
    /* width: 100%; */
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #EB2528; 
}
.price-product{
    margin-top: 10px;
    margin-bottom: 0px;
    /* justify-content: center; */
}
.price-product .root-price{
    margin-bottom: 3px;
    font-size: 12px;
    font-weight: bold;
    color: grey; 
    text-decoration: line-through;
    margin-left: 5px;

}
.rate-number p{
    font-size: 12px;
    font-weight: bold;
    padding-top: 5px;
    color: gray;
}
.stars i{
    font-size: 12px;
}
.product-info{
    background-color: #F7F7F7;
}
.main-info .name-product,.main-info .price-product,.main-info .name-product,.main-info .text-intro,.main-info .soluong{
    padding-left:10px;
    padding-bottom: 3px;
}
.uudai p{
    padding-left: 10px;
}
.main-info .rate-number{
    padding-right: 15px;
}
.inner a{
    color: white;
    font-weight: 500;
}
.inner a:hover{
    color: #c89551;
}
.rate{
    justify-content: space-between;
}
.stars{
    padding-left: 15px;
}
.col-3{
    padding: 6px;
}
/* .addCart{
    width: 50%;
    border: none;
    padding: 0;
    margin: 0;
    background-color: grey;
    font-size: 12px;
    padding: 10px;
    font-weight: bold;
    color: black;
} */
.addCart{
    width: 100%;
    border: none;
    width: 100%;
    background-color: #c89551;
    font-size: 12px;
    padding: 10px 0;
    font-weight: bold;
    color: white
}
.buttons{
    flex-wrap: nowrap;
   
}
.name-product{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 8px;
    color: black;
    padding-top: 5px;
}
.stars .fas{
    color: #c89551;
}
.stars .far{
    color:gray;
}
.product:hover{
    box-shadow: 1px 1px 20px rgb(0 0 0 / 30%);
    cursor: pointer;
}
.product{
    margin: 0 5px;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
}
.uudai-title{
    background-color: #DADADA;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}
.uudai{
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    /* margin-top: 30px; */
}
.soluong{
    margin-bottom: 35px;
}
.soluong input{
    width: 30px;
    height: 28px;
    border: 1px solid #ddd;
    text-align: center;
}
.soluong i{
    padding: 5px;
    background-color: #F3F4F6;
    color: grey;
    border: 1px solid #ddd;
    background-color: white;
}
.sl-text{
    font-size: 15px;
    font-weight: 600;
    margin-right: 10px !important;
}
.sl-text{
    margin: 0;
}
.detail{
    margin-top: 50px;
}
.text-intro{
    font-size: 15px;
    font-weight: 500;
    color: #4f555a;
    margin-bottom: 15px;
}
.product-intro{
    margin-top: 30px;
}
.detail .nav-item{
    padding: 0 !important;
}
.detail .nav-item .nav-link{
    font-size: 18px;
    color: black;
    font-weight: 700;
}
.detail .nav-item .nav-link.active{
    background-color: #c89551;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0px;
}
.tab-content>.active {
    font-family: 'Times New Roman', Times, serif;
    width: 75%;
}
.tab-content{
    /* width: %; */
    margin-top: 10px;
}
.list-thongso{
    list-style: square;
    padding-left: 20px;
}
.nhanxet{
    font-size: 20px;
    font-weight: 500;
    color: #4f555a;
}
.input input{
    margin-bottom: 5px;
    height: 40px;
    padding: 10px;
    border: 1px solid #ddd;
}
.input input:focus{
    outline: none;
}
.input textarea:focus{
    outline: none;
}
.input input::placeholder,.input textarea::placeholder{
    padding-left: 10px;
}
.input textarea{
    height: 100px;
    padding: 10px;
    border: 1px solid #ddd;
}
.send .star1{
    margin: 0 15px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
.btn{
    background-color: #c89551;
    font-size: 16px;
    font-weight: bold;
    color: white;
    /* margin-left: 340px; */
}
img{
    cursor: pointer;
}
/* product */
/* body{
    background-color: #E5E5E5;
} */
.suggest .products{
    margin-top: 50px;
}
.suggest .product-img{
    background-color: whitesmoke;
    height: 200px;
}
.suggest .price-product .price{
    /* width: 100%; */
    margin-bottom: 5px;
    font-size: 17px;
    font-weight: bold;
    color: #EB2528; 
}
.suggest .price-product{ 
    /* margin-left: 90px; */
    justify-content: center;
}
.suggest .price-product .root-price{
    margin-bottom: 3px;
    font-size: 12px;
    font-weight: bold;
    color: grey; 
    text-decoration: line-through;
    margin-left: 5px;

}
.suggest .rate-number p{
    font-size: 12px;
    font-weight: bold;
    padding-top: 5px;
    color: gray;
}
.suggest .stars i{
    font-size: 12px;
}
.suggest .product-info{
    background-color: #F7F7F7;
}
.suggest .rate-number{
    margin-left: 85px;
}
.suggest .stars{
    padding-left: 15px;
}
.suggest .col-3{
    padding: 6px;
}
/* .addCart{
    width: 50%;
    border: none;
    padding: 0;
    margin: 0;
    background-color: grey;
    font-size: 12px;
    padding: 10px;
    font-weight: bold;
    color: black;
} */
.suggest .addCart{
    width: 100%;
    border: none;
    padding: 0;
    background-color: #c89551;
    font-size: 12px;
    padding: 10px;
    font-weight: bold;
    color: white
}
.suggest .buttons{
    flex-wrap: nowrap;
}
.suggest .name-product{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 8px;
    color: black;
    padding-top: 5px;
}
.suggest .stars .fas{
    color: #c89551;
}
.suggest .stars .far{
    color:gray;
}
.suggest .product:hover{
    box-shadow: 1px 1px 20px rgb(0 0 0 / 30%);
    cursor: pointer;
}
.suggest .product{
    margin: 0 5px;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
}
/* discount */
.suggest .product{
    position: relative;
}
.suggest .discount{
    position: absolute;
    top: 5px;
    padding: 5px 20px;
    background-color: #428eff;
    height: 30px;
    font-size: 15px;
    font-weight: 500;
    color: white;
    border-radius: 8px;
}

.suggest .slider{
    position: relative;
}
.suggest .left-icon{
    padding: 5px 10px;
    background-color: #c89551;
    position: absolute;
    left: -10px;
    top: 130px;
    z-index: 2;
    opacity: 0.6;
}
.suggest .left-icon i{
    color: white;
    font-size: 20px;
}
.suggest .right-icon i{
    color: white;
    font-size: 20px;
}
.suggest .right-icon{
    padding: 5px 10px;
    background-color: #c89551;
    position: absolute;
    right: -10px;
    top: 130px;
    z-index: 2;
    opacity: 0.6;
}
.suggest{
    margin: 50px 0;
}
.suggest-heading{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.footer{
    background-image: url(../img/logo-footer.png);
    
}
.footer-inner{
    background: rgba(0, 0, 0, 0.7);
    /* opacity: 0.5; */
   
}
.footer-img{
    padding: 20px 0;
    width: 50%;
}
.address{
    font-size: 13px;
    color: white;
    padding: 10px;
    font-weight: 500;
}
.phone-footer{
    color: white;
    padding: 10px;
    font-size: 13px;
    font-weight: 500;
}
.supports{
    color: white;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 8px;
    font-size: 13px;
    font-weight: 500;
}
.address i,.phone-footer i,.supports i{
    color: white;
    padding-right: 5px;
}
.title-col2{
    padding: 20px 0;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.cot2 p a{
    color: white;
    font-size: 13px;
}
.title-col3{
    padding: 20px 0;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.cot3 p a{
    color: white;
    font-size: 13px;
}
.title-col4{
    padding: 20px 0;
    color: white;
    font-weight: bold;
    font-size: 17px;
}
.col4-item i{
    color: white;
    padding: 10px;
    font-size: 15px;
}
.col4-input button{
   background-color: #c89551 !important;
   border: none;
   height: 40px;
   
}
.col4-input button a i{
    padding: 10px;
    color: white;
}
.col4-input input{
    height: 40px;
    padding: 10px;
    /* border-radius: 50px; */
    border: none;
}
.col4-input input:focus{
    outline: none;
}
.col4-input input::placeholder{
    font-size: 14px;
    opacity: 0.5;
}
.buy-number{
    color: white;
    margin-bottom: 30px;
    background-color: #c89551;
    border-radius: 50%;
    padding: 5px;
}
.hd-shop{
    width: 25px;
    /* border: 1px solid #c89551; */
    border-radius: 50%;
}
.footer-madeby{
    padding: 10px 20px;
    padding-bottom: 1px;
    background: #000000;
    
}
.footer-madeby p{
    color: #c9b295 !important;
    font-weight: bold;
}
.footer p{
    font-size: 15px;
    font-weight: 500;
}
.backtotop{
    background-color: #c89551;
    color: white;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 40px;
    right: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.7;
}
/* /////////////////////////////////////////// */
/* responsive */
.search input{
    width: 85%;
    border: none;
    padding: 10px 20px;
}
.search input:focus{
    border: none;
}
hr{
    margin: 0 0 10px 0;
}
.res-left,.res-right{
    font-size: 15px;
    font-weight: 500;
}
.res-left i{
    margin: 0 10px 20px 30px;
}
.res-right i{
    margin: 0 10px 20px 0;
}
.responsive-navbar{
    position: fixed;
    background-color: white;
    z-index: 100;
    width: 100%;    
}
/* .navbar-toggler{
    border: none;
} */
/* modal */
.modal-login .nav-item{
    width: 50%;
    padding: 0;
}
.modal-login .nav-link{
    width: 100%;
    color: gray;
    font-weight: 600;
}
.modal-login .nav-link.active{
    color: #c89551 !important;
    width: 100% !important;
    background-color: #c89551;
    color: white !important;
}
.modal-inner{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.user-name,.pass{
    width: 100%;
    padding: 5px;
}
.user-name{
    margin: 30px 0;
    height: 50px;
}
.pass{
    margin-bottom: 30px;
    height: 50px;
}
.login{
    width: 100%;
}
input[checkbox]{
    width: 10%;
}
.modal img{
    width: 30px;
}
.login{
    border: none;
    background-color: #c89551;
    color: white;
    font-weight: 600;
    height: 50px;
    margin-bottom: 10px;
}
.forget a{
    color: gray !important;
    text-decoration: none;
}
.save{
    color: gray !important;
}
.save input{
    margin-right: 5px;
}
.oline a{
    padding: 0 7px;
}
.oline{
    margin-bottom: 50px;
}
.again{
    height: 50px;
    width: 100%;
    margin-bottom: 30px;
    padding: 5px;
}
.register-button{
    border: none;
    background-color: #c89551;
    color: white;
    font-weight: 600;
    height: 50px;
    margin-bottom: 50px; 
    width: 100%;
}
.modal-content{
    top: 50px;
}
.an{
    display: none;
}
/* validate */
.wrong-user,.wrong-pass,.wrong-again{
    color: red;
    font-size: 15px;
    font-weight: 500;
}
.is-invalid{
    display: none;
}
 @media (max-width: 430px){
    .number-buy{
        right: -45px;
    }
 }
 .hr{
     margin: 30px 0;
 }
.comment .stars{
    padding: 0;
}
.comment .row{
    margin-bottom: 20px;
}
.comment-name{
    font-size: 20px;
    font-weight: 600;
}